*{
  margin: 0px;
  padding: 0px;
}

#main{
  width: 0px;
  height: 0px;
}

.main-page{
  width: 100vw;
  height: 100vh;
  background:  #f3f3f3;;
}

.nav-main{
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content:center ;
  align-items: center;
  
  background:  #f3f3f3 ;
}
.nav{
  width: 90%;
  height: 9vh;
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-nav-btn button{
  padding: 1vw 2vw;
  border-radius: 20px;
  border: none;
  border: 2px solid black;
}

.nav-log{
  font-size: 2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  margin-left: 14vw;

}

.left-nav-btns{
  width: 25vw;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-btn1 button{
  padding: 1vw 2vw;
  /* background-color: yellow; */
  border-radius: 20px;
  border: no/ne;
}

.left-btn2 button{
  padding: 1vw ;
  color: #f3f3f3;
  background-color: black;
  border-radius: 20px;
  border: none;
}
.profile-section{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile{
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: none;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.hero{
  width: 100%;
  height: 91vh;
  /* background-color: red; */
}

.hero-upper-section{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: blue; */
}
.head-line{
  width: 50%;
  height: 90%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: centr;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* align-items: center; */
}
.head-image{
  width:  40%;
  height: 90%;
  background-color: aqua;
}
.head-line p{
  font-size: 1rem;
  margin-top: 2vw;
}

.head-line h1{
font-size: 4rem;
line-height: 4vw;
}

.heading-btn button{
  margin-top: 2vw;
 padding: 1vw 2vw;
 border-radius: 10px;
 border: none;
 font-size: 1vw; 
}
.heading-btn i{
  font-size: 30px;
}

.heading-btn button:hover{
  background-color: black;
  color: white;
}