* {
  margin: 0px;
  padding: 0px;
}

#main {
  width: 100%;
  height: 100%;
  
}

.main-page {
  width: 98.9vw;
  height: 100vh;
  background: #f3f3f3;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-main {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0E1514;
}

.nav {
  width: 90%;
  height: 11vh;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E1514;
  border-bottom: 1px solid #f3f3f3;
}

.right-nav-btn button {
  padding: 0.8vw 1.5vw;
  border-radius: 10px;
  border: none;
  color: #f3f3f3;
  background-color: #0E1514;
  border: 1px solid #f3f3f3;
  font-size: 1rem;
}

.right-nav-btn button:hover {
  background-color: #f3f3f3;
  color: #0E1514;
  border: 2px solid #0E1514;
  transition: 400ms;
}

.nav-log {
  font-size: 2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  margin-left: 14vw;


}

.left-nav-btns {
  width: 25vw;
  height: 100%;
  background-color: #0E1514;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-btn1 button {
  padding: 0.75vw 1vw;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.left-btn1 button:hover {
  background-color: black;
  color: white;
  transition: 400ms;
}

.left-btn2 button {
  padding: 0.7vw;
  color: #f3f3f3;
  background-color: black;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  border: 1px solid #f3f3f3;
}

.left-btn2 button:hover {
  background-color: white;
  color: black;
  border: none;
  transition: 400ms;
}

.profile-section {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  border: none;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0E1514;
  font-size: 1.5vw;

}


.hero {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0E1514;
  color: #f3f3f3;

}

.hero-upper-section {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.head-line {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: centr;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.head-image {
  width: 45%;
  height: 90%;
}

.head-line p {
  font-size: 1rem;
  margin-top: 2vw;
}

.head-line h1 {
  font-size: 4rem;
  line-height: 4vw;
}

.heading-btn button {
  margin-top: 2vw;
  padding: 1vw 2vw;
  border-radius: 10px;
  border: none;
  font-size: 1vw;
  border: 1px solid black;
}

.heading-btn button:hover {
  background-color: black;
  color: white;
  transition: 300ms;
}

.head-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.hero-down-section {
  width: 95%;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.hero-down-part1 {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-down-part2 {
  width: 50%;
  height: 100%;

}

.hero-card {
  width: 38%;
  height: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}

.card-head {
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.card-head button {
  padding: 1vw 2vw;
  font-size: 1rem;
  border-radius: 30px;
  border: 1px solid #0E1514;
  
}

.card-contant {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
}


.card-head button:hover{
  background-color: #0E1514;
  border: 1px solid white;
  color: #f3f3f3;
  transition: 300ms;
  
}

.card-profile{
  width: 3vw;
  height: 6vh;
  border-radius: 50%;
  background-color: red;

}

.hero-card2 {
  width: 38%;
  height: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}


.static-section{
  width: 95%;
  height: 20vh;
   
}

.hero-nav{
  width: 90%;
  height: 6vh;
  border-radius: 30px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 100;
}

.hero-nav h3{
  font-weight: 100;
}

.hero-nav-main{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.static-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  
}

.page2{
  width: 100%;
  height: 100vh;
  background-color: #0E1514;
}

.hero-nav h3:hover{
  border-bottom: 2px solid white;
  transition: 100ms;
}

.page2-main{
  width: 100%;
  height: 100%;
 
  display: flex;
  border-radius: 20px;
}

.page2-part1{
  width: 50%;
  height: 100%;

}

.page2-part2{
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color: red; */
}

.page2-part2-main{
  width: 50%;
  height: 55%; 
  border: 2px solid white;
  padding: 30px;
  border-radius:20px ;
}
.page2-part2-main p{
  font-size: 1vw;
}


.page2-part2-main h1{
  font-size: 3vw;
}
.page2-part2-main p{
  margin-top: 30px;
  font-weight: 100;  

}
.page2-part1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.page2-part1 img{
  width: 70%;
  height: 80%;
  object-fit: contain;
  object-position: center;
  border-radius: 2000px;
}


.page2-btn{
  margin-top: 3vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page2-btn button{
  padding: 0.8vw 2.5vw; 
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

.page3{
  width: 98.4;
  height: 100vh;
  background-color: #0E1514;
}